.modal {
  .modal-dialog .modal-content {
    border: 0;
    background-color: var(--body-bg);
    color: var(--headings-color);
  }

  .modal-header {
    position: relative;
    padding: 2rem;
    border: none;
    border-bottom: 2px dashed $red;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-color: $red;
      color: $white;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.75rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .modal {
    .modal-body {
      padding: 2rem;
    }
  }
}
