body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

b,
strong {
  font-weight: $font-weight-bold;
}

.wrap {
  overflow: hidden;
}

.end-page-spacer {
  width: 100%;
  display: block;
  height: 200px;
}

a {
  color: inherit;

  &,
  i {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
