.hero {
  padding-top: 90px;
  padding-bottom: 90px;
  min-height: 100vh;

  .hero-btn-down {
    bottom: 40px;
    left: 50%;
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .hero {
    height: 100vh;

    .hero-inner {
      background-image: url("/art.png");
      background-position: right center;
      background-size: auto 67.5%;
      background-repeat: no-repeat;
    }
  }
}
